/*Especificidad: 001*/
html {
  font-family: "Arial", sans-serif;
  color: #000000;
  background-color: #E5EDFF;
  font-size:1em;
}

/*Especificidad: 001*/
h1 {
  background: #00206B;
  color: #FFFFFF;
  text-shadow: 0.0625em 0.0625em 0.0625em #000000;
  text-align: center;
  border-radius:0.625em;
  }
 
/*Especificidad: 001*/
h2 {
    border-radius:0.625em;
  background: #00206B;
  color: #FFFFFF;
  text-align: center;
}

/*Especificidad: 001*/
p {
  line-height: 1.2;
  letter-spacing: 0.05em;
}

/*Especificidad: 001*/
nav{
  margin: 0.5em;
  border-radius:0.625em;
  color: black;
}

/*Especificidad: 002*/
nav > a{
  color: #FFFFFF;
  background: #00206B;
  padding: 0.5em;
  border-radius:0.625em;
}


/*Especificidad: 001*/
form {
  padding:0.5em;
  border-radius:0.625em;
  margin:auto;
  background-color:#005580;
  color: #FFFFFF;
}

/*Especificidad: 002*/
form > label {
  font-weight:bold;
}

/*Especificidad: 002*/
form > input {
  border:0.0625em solid #f6f6f6;
  border-radius:5em;
  background-color:#f6f6f6;
  margin:1.5em 0;
}
/*Especificidad: 002*/
form > fieldset {
  margin:1.5em 0;
}

/*Especificidad: 001*/
li {
  margin: 2em;
}
  

  